<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="15" />
	<uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
	<application android:label="AlarmClock" android:theme="@style/MyTheme"></application>
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	<uses-permission android:name="alarmclock.android.permission.C2D_MESSAGE" />
	<activity android:name=".MainActivity" android:excludeFromRecents="true" />
</manifest>